.Box-row:first-of-type{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 15px;
}
.ln-condensed {
    line-height: 1.25 !important;
}
.color-fg-muted {
    color: grey!important;
}

.link{
    color: rgba(0, 75, 251, 0.809);
    text-decoration: none !important;
}